body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.parent {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: scroll;
    
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.parent::-webkit-scrollbar {
    display: none;
}

.child {
    scroll-snap-align: start;
    height: 100vh;
}
